flask
python-dotenv
langchain
langchain_community
langchain_groq
langchain_chroma
faiss-cpu
pypdf
bs4
arxiv
wikipedia
duckduckgo-search
validators==0.28.1
youtube_transcript_api
pytube
psycopg2-binary==2.9.6
ddgs
